{% extends "pred_prey/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Help">
    <a data-bs-toggle="modal" data-bs-target="#help-modal"><i class="bi bi-question-circle"></i></a>
  </div>
{% endblock %}

{% block app_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div id="parameters-container" class="pb-3">
        <div class="card">
          <div class="card-header">
            Parameters
          </div>
          <div class="card-body">
            <form id="parameters-form" method="POST" action="">
              {% csrf_token %}
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {% gizmo scenario_select %}
                </li>
                <li class="list-group-item">
                  <h6>Prey Characteristics</h6>
                  <div class="mb-3">
                    <label for="x0-input" class="form-label">x<sub>0</sub></label>
                    <input type="number" step="1" class="form-control{% if x0_error %} is-invalid{% endif %}" id="x0-input" name="x0" value="{{ initial_x0 }}" aria-describedby="x0-help">
                    <div id="x0-help" class="form-text">Enter the initial population of the prey (per sq. kilometer).</div>
                    <div class="invalid-feedback">{{ x0_error }}</div>
                  </div>
                  <div class="mb-2">
                    <label for="alpha-input" class="form-label">α</label>
                    <input type="number" class="form-control{% if alpha_error %} is-invalid{% endif %}" id="alpha-input" name="alpha" value="{{ initial_alpha }}" step="0.1" aria-describedby="alpha-help">
                    <div id="alpha-help" class="form-text">Prey per capita growth rate.</div>
                    <div class="invalid-feedback">{{ alpha_error }}</div>
                  </div>
                  <div class="mb-2">
                    <label for="beta-input" class="form-label">β</label>
                    <input type="number" class="form-control{% if beta_error %} is-invalid{% endif %}" id="beta-input" name="beta" value="{{ initial_beta }}" step="0.1" aria-describedby="beta-help">
                    <div id="beta-help" class="form-text">Effect of predators on prey growth rate.</div>
                    <div class="invalid-feedback">{{ beta_error }}</div>
                  </div>
                </li>
                <li class="list-group-item">
                  <h6>Predator Characteristics</h6>
                  <div class="mb-2">
                    <label for="y0-input" class="form-label">y<sub>0</sub></label>
                    <input type="number" class="form-control{% if y0_error %} is-invalid{% endif %}" id="y0-input" name="y0" value="{{ initial_y0 }}" step="1" aria-describedby="y0-help">
                    <div id="y0-help" class="form-text">Enter the initial population of the predators.</div>
                    <div class="invalid-feedback">{{ y0_error }}</div>
                  </div>
                  <div class="mb-2">
                    <label for="delta-input" class="form-label">δ</label>
                    <input type="number" class="form-control{% if delta_error %} is-invalid{% endif %}" id="delta-input" name="delta" value="{{ initial_delta }}" step="0.1" aria-describedby="delta-help">
                    <div id="delta-help" class="form-text">Effect prey on predator growth rate.</div>
                    <div class="invalid-feedback">{{ delta_error }}</div>
                  </div>
                  <div class="mb-2">
                    <label for="gamma-input" class="form-label">γ</label>
                    <input type="number" class="form-control{% if gamma_error %} is-invalid{% endif %}" id="gamma-input" name="gamma" value="{{ initial_gamma }}" step="0.1" aria-describedby="gamma-help">
                    <div id="gamma-help" class="form-text">Predator per capita death rate (i.e. from old age and disease).</div>
                    <div class="invalid-feedback">{{ gamma_error }}</div>
                  </div>
                </li>
                {% block form-buttons-override %}
                <li class="list-group-item">
                  <button type="submit" class="btn btn-danger" id="update-plots-submit" name="update-plots-submit">Update Plots</button>
                  <a class="btn btn-secondary" id="reset-btn" href="">Reset</a>
                </li>
                {% endblock %}
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div id="population-dynamics-container" class="pb-3">
            <div class="card">
              <div class="card-header">
                Population Dynamics Plot
              </div>
              <div class="card-body">
                {% if pop_dynamics_plot %}
                  <div class="plot-wrapper">
                    {% gizmo pop_dynamics_plot %}
                  </div>
                {% else %}
                  <div class="plot-wrapper">
                    <div class="alert alert-danger" role="alert">
                      Please correct errors to view plots.
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="phase-space-container" class="pb-3">
            <div class="card">
              <div class="card-header">
                Phase-Space Plot
              </div>
              <div class="card-body">
                {% if phase_space_plot %}
                  <div class="plot-wrapper">
                    {% gizmo phase_space_plot %}
                  </div>
                {% else %}
                  <div class="plot-wrapper">
                    <div class="alert alert-danger" role="alert">
                      Please correct errors to view plots.
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <div class="d-none" id="data"
       data-scenarios="{{ scenario_data|jsonify }}"
  ></div>
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/docs/5.1/components/modal/">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-bs-toggle</code>, <code>data-bs-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/docs/5.1/components/tooltips/">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}